
:root{
    --body-bg: white;
    --body-color: black;
    --caixas-bg: rgb(22, 22, 22);
   
}



.dark-mode:root{
    --body-bg: black;
    --body-color: white;
    --caixas-bg: rgb(66, 66, 66);
  
}



*{ margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body{
    background-color: var(--body-bg);
    color: var(--body-color);
    transition: background-color 0.5s ease;
   
}

@keyframes colorAnimation {
    0% {
        color: #cf2525; /* Cor inicial */
    }
    50% {
        color: #00c8ff; /* Cor intermediária */
    }
    100% {
        color: #8000ff; /* Retorna para a cor inicial */
    }
}

@keyframes backgroundAnimation {
    0% {
        background-color: #ff0000; /* Cor inicial */
    }
    50% {
        background-color: #0446a3; /* Cor intermediária */
    }
    100% {
        background-color: #4d04c2; /* Retorna para a cor inicial */
    }
}

.active {
    animation: colorAnimation 3s infinite alternate; /* Animação do texto */
}

.background-active {
    animation: backgroundAnimation 10s infinite alternate; /* Animação do background */
}



header{
    margin: 30px 0px 50px;
    text-align: center;
}


main{
    display: flex;
    margin: 0;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 300px;
    height: 100%;
}


 main h1{
    margin-top: 10px;
    margin-left: 20px;
 }



main p{
    margin-top: 10px;
}



.formacoes,
.conhecimentos,
.certificados,
.experiencia{
   display: none;
  
}



button{
    border-radius: 10px;
   
    
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #a9a9a9;
    color: white;
    padding: 10px;
    text-align: center;
    
    
}
