*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
   background-color: rgb(236, 244, 252);
   
}

.container{
   text-align: center;
}


.subtitulo p {
    font-size: 30px;
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 50px;
  background-color: rgb(243, 28, 28);
  border-radius: 35px;
  color: rgb(255, 255, 255);
  padding: 15px;
  width: 150px;
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
    
}
.info-p{
    display: flex;
    gap: 10px;
    font-size: 25px;
    margin-top: 35px;
   justify-content: center ;
}


.obj{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.obj-info{
    font-size: 25px;
    text-align: center;
    
}

.sub p{
    font-size: 30px;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 50px;
    background-color: rgb(243, 28, 28);
    border-radius: 25px;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 250px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    
}

.info-l{
    display: flex;
    gap: 10px;
    font-size: 25px;
    margin-top: 35px;
   justify-content: center ;
    
}

